@media screen and (max-width: 800px){
    #block-system-main{
        zoom: .47;
    }
}
.support{
    background-color: white;
    width: 855px;
    height: 182.79px;
    overflow: hidden;
}
.support a{
    display: block;
    width: fit-content;
    margin: auto;
}
.card-container {
    width: 900px;
}
#gold .card{
    min-height: 238px;
    width: 203px;
}
.card-container .card{
    display: inline-block;
    min-height: 203px;
    width: 160px;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-container .card:last-child {
    margin-right: 0;
}
.card h4{
    font-family: 'Helvetica', Arial, sans-serif;
}
.card h4:not(.tag){
    padding-left: 20px;
}
#gold h4:not(.tag){
    margin-top: 4px;
}
#silver h4:not(.tag){
    margin-top: 4px;
}
.card a{
    text-decoration: none;
    color: black;
}
#gold .card img{
    height: 150px;
    width: 203px;
}
.card img{
    height: 120px;
    width: 160px;
    object-fit: cover;
    text-align: center;
}
.tag{
    background-color: #2993D1;
    font-family: monospace, sans-serif;
    color: white;
    font-size: 10px;
    padding: 7px 10px;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 15px;
}
#gold .tag{
    font-size: 12px;
}
h3{
    font-weight: bold;
}
#regular .card{
     min-height: 140px;
}